{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

    <div class="container h-100 myheader-container">

                    
                    <div class="row justify-content-center h-75">

                            
                        <div class="my-auto mt-4">

                                <h3 class="text-center">
                                    Turn your pictures into beautiful paintings

                            </h3>
                        <div id="carouselExampleSlidesOnly" class="carousel slide mt-4" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                <div class="container">
                                <img src="/media/home_images/Cover_Image.jpg" class="d-block w-100" alt="...">
                                </div>
                                

                                    
                                </div>

                                    <div class="carousel-item">
                                    <div class="container">
                                        <img src="/media/home_images/landscape.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    
                                    </div>


                                    <div class="carousel-item">
                                    <div class="container">
                                        <img src="/media/home_images/mountains.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    
                                    </div>


                                
                            </div>

                            <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>

                            
                        </div>        


                         {% include 'includes/mobile-carousel-alt.html' %}


                        </div>
                    </div>


                    <div class="row justify-content-center h-10 ">

                    <h3 class="headline">

                    How it works
                    </h3>





                    
                    </div>
                    


                    <div class="container mt-4">
                        
                        <div class="row">
                        <div class="col-3 text-center">
                        
                        <img src="/media/home_images/upload.svg" class="d-block w-100 h-50 mt-4" alt="...">
                        <h5 text-center>
                        Upload your Image
                        </h5>
                        </div>

                        <div class="col-3 text-center">
                        
                        <img src="/media/home_images/choose.svg" class="d-block w-100 h-50 mt-4" alt="...">
                        <h5 text-center>
                        Choose a Style for the Picture
                        </h5>
                        </div>

                        <div class="col-3 text-center">
                        
                        <img src="/media/home_images/Computerprocess.svg" class="d-block w-100 h-50 mt-4" alt="...">
                        <h5 text-center>
                        We Process your Request
                        </h5>
                        </div>

                        <div class="col-3 text-center">
                        
                        <img src="/media/home_images/art.svg" class="d-block w-100 h-50 mt-4" alt="...">
                        <h5 text-center>
                        Enjoy your Painting
                        </h5>
                        </div>



                        </div>
                        </div>
                    

                    <div class="row justify-content-center h-10 ">

                        <h3 class="headline">

                        Our Products
                        </h3>

                        
                        </div>
                    


                    <div class="container mt-4">
                        
                        <div class="row">
                        <div class="col-6 text-center">
                        <img src="/media/home_images/canvas.svg" class="d-block w-100 h-50 mt-4" alt="...">
                        <h5 text-center mt-4>
                        Canvas Style Paintings with flexible size choices  with the options to  Frame.
                        </h5>
                        
                        </div>

                        <div class="col-6 text-center">
                        <img src="/media/home_images/gioconda.svg" class="d-block w-100 h-50 mt-4" alt="...">
                        <h5 text-center mt-4>
                        Wood, aluminium, acrylic… you name it. Lightweight and ready-to-hang, our Wall Art uses both classic and modern materials that will last a long time.
                        </h5>
                        
                        </div>
                       
                          
                        </div>

                         <div class="gallery text-center mb-4">
                            <button type="button" class="btn btn-info btn-lg "> Go to Gallery</button>  

                        
                        </div>
                        </div>
                    

                    <footer class="myfooter">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: ImageArt  

     <a class="text-black-50 text-center pl-2" href="https://mdbootstrap.com/">   All parts of this website including company is built for educational purposes only and is purely fictional </a>
     </div>

  
 
  <!-- Copyright -->

</footer>
    


    </div>






{% endblock %}

 {% block extra_js %}

  <script src="{% static 'js/myscroll.js' %}"></script>
{% endblock %}