{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container add-painting-container">
        <div class="formrow row  justify-content-center">
            <div class="col-12 col-md-6">
                  
                        <div class="my-auto mt-4">

                                <h6 class="text-center">
                                    Please fill in the following details to create your painting
                            </h6>

                            <hr>

                        </div>
                
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_painting' %}" class="form mb-2" enctype="multipart/form-data" ALIGN='center' >
                    {% csrf_token %}
                    {{ form | crispy }}


                    <div class="text-center mt-4">
                       
                        <button class="btn btn-black rounded-0" type="submit">Get your Painting </button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}