{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>

     <div class="container h-100 mypaintingform-container">

                    
                    <div class="row justify-content-center h-75">

                            
                        <div class="my-auto mt-4">

                                <h6 class="text-center">
                                 We have added your painting to our Gallery 
                            </h6>

                            <hr>

                            <img src="{{ stylised_painting }}" alt="">

                            <hr>
                             <div class="Painting-done text-center mb-4">
                         
                        
                        </div>
                         
                        </div>
                         
                        <div class="col-12 col-md-6">
                        <form method="POST" action="{% url 'add_painting' %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ painting_form_price | crispy }}
                            <div class="text-right">
                            
                                <button class="btn btn-black rounded-0" type="submit">Get your Painting </button>
                            </div>
                        </form>
                        </div> 
                    </div>
    </div>
   
{% endblock %}