html {
    height: 100%;
}

.carousel-inner > .carousel-item > .container > img {
     width:1500px;
  height:500px;
}
   .carousel-item {
    height: 100%;
    
    background: no-repeat center center scroll;
    background-size: cover;
    }


.carousel-inner{

    width:1500px;
}


h5.display-5.logo-font.text-black.text-center ,h5 {
    font-family: 'Permenant Marker', cursive;
}

h3{

text-decoration: underline overline;
font-family: 'Permenant Marker', cursive;

}


/* from https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel to customise carousel icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


.btn-black {
    background: black;
    color: white;
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 25px;
    }
}


/* -------------------------------- Media Queries for caption carousel */

@media (min-width: 768px) {
  .d-md-block {
     display: block!important;
  }
}

.d-none {
     display: none!important;
}




