<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
            <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'paintings'%}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'paintings' %}?category=Portraits" class="dropdown-item">Portraits</a>
                <a href="{% url 'paintings' %}?category=Landscape" class="dropdown-item ">Landscape</a>
                <a href="{% url 'paintings' %}?category=Abstract" class="dropdown-item ">Abstract</a>
                <a href="{% url 'paintings' %}?category=Random" class="dropdown-item">Random</a>
                <a href="{% url 'paintings'%}" class="dropdown-item">All paintings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Create
            </a>
           
        </li>

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
           
        </li>

    </ul>
</div>